<link id="fa-stylesheet" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.0/css/all.min.css">

<footer class="site-footer h-card" style="text-align: center; padding: 2rem 0; background-color: #f8f8f8;">

  <div class="wrapper">

    <div class="contact-links" style="margin-bottom: 1rem;">
      <ul class="contact-list">
        {%- for entry in site.contact -%}
          <li>
            <a rel="me" href="{{ entry.url }}" target="_blank" title="{{ entry.title }}">
              <span class="grey fa-{{ entry.style | default: 'brands' }} fa-{{ entry.icon }} fa-lg"></span>
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </div>

    <div class="footer-text">
      <p>Copyright © Elisa Legnani 2026</p>
    </div>

  </div>

</footer>


