<link id="fa-stylesheet" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.0/css/all.min.css">

<!--
<footer class="site-footer h-card"
        style="
          text-align: center;
          background-image: url('{{ site.image_path }}/footer.JPG');
          background-attachment: fixed;
          background-size: contain;
          background-position: bottom center;
          background-repeat: no-repeat;
        ">
-->
<footer class="site-footer h-card" style="text-align: center">

  <div class="wrapper">

    <div class="contact-links">
      <ul class="contact-list">
        {%- for entry in site.contact -%}
          <li>
            <a rel="me" href="{{ entry.url }}" target="_blank" title="{{ entry.title }}">
              <span class="fa-{{ entry.style | default: 'brands' }} fa-{{ entry.icon }} fa-lg"></span>
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </div>

    <div class="footer-text">
      <p>Copyright © Elisa Legnani 2026</p>
    </div>

  </div>

</footer>


