/**
 * Avatar
 */
.avatar {
  position: relative;
  display: inline-block;
  float: left;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.avatar .profile-img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  box-shadow: inset 0 0 0 9px rgba(255, 255, 255, 0.3);
}

/* the magic: morphing blob */
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

/* for the text to move below the image on mobile */
@media (max-width: 700px) {
  .avatar {
    float: none;
    display: block;
    margin: 0 auto 20px;
    text-align: center;
  }
}
