/**
 * Site footer
 */
.site-footer {
  padding-top: 12px;
  padding-bottom: 24px;
  //border-top: 1px solid $border-color-01;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* center icons horizontally */
  gap: 16px; /* spacing between icons */
}

.contact-list li {
  display: inline-block; /* ensure li is inline */
}

.contact-list a {
  font-size: 24px;  /* bigger icons */
  color: $brand-color-dimmed;
  transition: color 0.3s;
}

.contact-list a:hover {
  color: $link-hover-color;
}

.contact-links {
  font-size: 0.9375rem;
  color: $brand-color-dimmed;
}

.footer-text p {
  margin: 16px 0 0 0;
  font-size: $small-font-size;
  color: $brand-color-dimmed;
}