.home-image-container {
  width: 100%;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.home-image {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  object-fit: cover;
  display: block;
}

.topic-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.topic {
  @include shadow;
  text-align: center;
  height: 160px;
  border-radius: 0.3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.8rem;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
    background-color: $brand-color-light;
  }
}

.topic-image {
  width: 100%;
  height: 75%;
  margin-bottom: 0.2rem;
  object-fit: cover;
}

.topic-title {
  font-weight: $base-font-weight;
  font-size: $base-font-size * 1.25;
  margin: 1rem;
}