@charset "utf-8";

// Light mode variables
$brand-color:           #818181;
$brand-color-light:     lighten($brand-color, 40%);
$brand-color-dimmed:    darken($brand-color, 11%);
$brand-color-dark:      darken($brand-color, 25%);

$site-title-color:      $brand-color-dark;

$heading-color:         #111111;
$text-color:            $brand-color-dark;
$background-color:      #fdfdfd;
$code-background-color: #f6f8fa;

$link-base-color:       #007577;
$link-visited-color:    darken($link-base-color, 15%);
$link-hover-color:      $link-base-color;

$border-color-01:       $brand-color-light;
$border-color-02:       lighten($brand-color, 35%);
$border-color-03:       $brand-color-dark;

$table-text-color:      lighten($heading-color, 18%);
$table-zebra-color:     lighten($brand-color, 46%);
$table-header-bg-color: lighten($brand-color, 43%);
$table-header-border:   lighten($brand-color, 37%);
$table-border-color:    $border-color-01;

// Syntax highlighting for light mode
.highlight {
  .err   { color: #e3d2d2; background-color: #a61717; }

  .c, .cm, .cp, .c1 { color: #9c9996; }
  .cs { color: #9c9996; font-style: italic; }

  .gd, .gd .x { color: #e25050; }
  .ge { font-style: italic; }
  .gh { color: #999999; }
  .gi, .gi .x { color: #3f993f; }
  .go { color: #888888; }
  .gp { color: #555555; }
  .gr { color: #aa0000; }
  .gs { font-weight: bold; }
  .gt { color: #aa0000; }
  .gu { color: #aaaaaa; }

  .k, .kc, .kd, .kp, .kr { color: #cf222e; }
  .kt { color: #445588; }

  .n { color: #111111; }
  .na { color: #097e39; }
  .nb { color: #cf222e; }
  .bp { color: #999999; }
  .nc { color: #097e39; }
  .ne { color: #990000; }
  .nf { color: #2c7d74; }
  .ni, .nn { color: #097e39; }
  .no { color: #a61154; }
  .nt { color: #b81e63; }
  .nv, .vc, .vg, .vi { color: #752a75; }

  .o, .ow { color: #0842a0; }

  .m, .mf, .mh, .mi, .il, .mo { color: #005a99; }

  .s, .s1, .s2, .sb, .sc, .sd, .se, .sh, .si, .sx { color: #914d08; }
  .sr { color: #009926; }
  .ss { color: #0842a0; }

  .w { color: #bbbbbb; }

  .lineno, .gl { color: #9c9996; }
  .hll { background-color: #ffffcc; }
}